@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Satoshi */
  @font-face {
    font-family: "Satoshi";
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/Satoshi/Satoshi-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Satoshi";
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Satoshi/Satoshi-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Satoshi";
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/Satoshi/Satoshi-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Satoshi";
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Satoshi/Satoshi-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Satoshi";
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/Satoshi/Satoshi-Light.ttf") format("truetype");
  }

  /* Gilroy */
  @font-face {
    font-family: "Gilroy";
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/Gilroy/Gilroy-Black.ttf") format("truetype");
  }
  @font-face {
    font-family: "Gilroy";
    font-weight: 800;
    font-display: swap;
    src: url("/fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Gilroy";
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Gilroy";
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Gilroy";
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Gilroy";
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Gilroy";
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/Gilroy/Gilroy-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "Gilroy";
    font-weight: 200;
    font-display: swap;
    src: url("/fonts/Gilroy/Gilroy-UltraLight.ttf") format("truetype");
  }
  @font-face {
    font-family: "Gilroy";
    font-weight: 100;
    font-display: swap;
    src: url("/fonts/Gilroy/Gilroy-Thin.ttf") format("truetype");
  }

  /* Switzer */
  @font-face {
    font-family: "Switzer";
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Switzer/Switzer-Regular.ttf") format("truetype");
  }

  /* GeneralSans */
  @font-face {
    font-family: "GeneralSans";
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/GeneralSans/GeneralSans-Regular.ttf") format("truetype");
  }
}

.layout {
  @apply mx-auto;
  max-width: 1440px;
  padding: 0 16px;
  overflow: visible;
}
